<app-header
  *ngIf="order"
  [pageTitle]="order?.orderDetails?.orderItems[0].options.name"
  path="Unassigned / {{ order?.orderDetails?.orderItems[0].options.name }}"
  icon="mdi-cart"
></app-header>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          {{ order?.orderDetails?.orderItems[0].options.name }}
        </h4>
        <p class="card-description">
          {{ order?.orderDetails?.orderItems[0].options.discription }}
        </p>
        <ngb-tabset class="tab-vertical">
          <ngb-tab>
            <ng-template ngbTabTitle>
              Order
              <i class="mdi mdi-home-outline text-info ml-2"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <h4>Order Details</h4>
              <p>
                Order: {{ order?.orderDetails?.orderItems[0].options.name }}
              </p>
              <p>Price: {{ order?.transactionAmount }}</p>
              <p>
                Shipping Location: {{ order?.shippingDetails?.address }},
                {{ order?.shippingDetails?.city }}
                {{ order?.shippingDetails?.state }}
              </p>
              <p>
                Client: {{ order?.clientDetails?.fullName }},
                {{ order?.clientDetails?.phoneNumber }}
              </p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              Delivery Agent
              <i class="mdi mdi-account-outline text-danger ml-2"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <h4>Delivery Agent Details</h4>
              <div class="text-center" *ngIf="order?.agentDetails">
                <img
                  [src]="
                    order?.agentDetails?.avatar?.length > 0
                      ? order?.agentDetails?.avatar
                      : 'assets/images/faces/face1.jpg'
                  "
                  onerror="this.src='assets/images/faces/face1.jpg'"
                  class="center-cropped mb-3 w-25 rounded"
                  [alt]="order?.agentDetails?.fullName"
                />
                <h5 class="mt-0">Name: {{ order?.agentDetails?.fullName }}</h5>
                <p class="mb-0">
                  Availability: {{ order?.agentDetails?.status }}
                </p>
                <p class="mb-0">
                  Location: {{ order?.agentDetails?.location }}
                </p>
                <p class="mb-0">Vehicle: {{ order?.agentDetails?.vehicle }}</p>
                <p class="mb-0">
                  Fulfilled Orders:
                  {{ order?.agentDetails?.noOfFulfilledDeliveries }}
                </p>
              </div>
              <div *ngIf="!order?.agentDetails">
                No Agent Assigned Yet<br />
                <button
                  type="button"
                  class="btn btn-gradient-primary btn-fw"
                  (click)="getAvailableAgents()"
                >
                  Assign Delivery Agent
                </button>

                <div class="table-responsive" *ngIf="deliveryAgentsList">
                  <br />
                  Delivery Agents Available: {{ deliveryAgentsList?.length }}
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Agent Name</th>
                        <th>Agent Location</th>
                        <th>Contact Details</th>
                        <th>Delivered Orders</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let agent of deliveryAgentsList">
                        <td class="py-1">
                          <img
                            [src]="
                              agent?.avatar?.length > 0
                                ? _common.showImage(agent?.avatar)
                                : 'assets/images/faces/face1.jpg'
                            "
                            onerror="this.src='assets/images/faces/face1.jpg'"
                            class="center-cropped"
                            [alt]="agent.fullName"
                          />
                        </td>
                        <td>{{ agent.fullName }}</td>

                        <td>{{ agent.location }}</td>
                        <td>{{ agent.phoneNumber }}</td>
                        <td>{{ agent.noOfDeliveries }}</td>
                        <td class="d-flex justify-content-between flex-nowrap">
                          <button
                            type="button"
                            class="
                              btn btn-gradient-primary btn-rounded btn-icon
                            "
                            (click)="assignAgent(agent)"
                          >
                            <i class="mdi mdi-truck-delivery"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                  <app-list-pagination
                    [fullResult]="vendorFullResult"
                    (getNextPage)="getAvailableAgents($event)"
                  ></app-list-pagination>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              Vendor
              <i class="mdi mdi-email-outline text-success ml-2"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <h4>Vendor Contact Details</h4>
              <div *ngIf="order?.vendorDetails">
                <p>
                  <i class="mdi mdi-phone text-info"></i>
                  Business Name: {{ order?.vendorDetails?.fullName }}
                </p>
                <p>
                  <i class="mdi mdi-phone text-info"></i>
                  Business Address: {{ order?.vendorDetails?.location }}
                </p>
                <p>
                  <i class="mdi mdi-phone text-info"></i>
                  Business Contact: {{ order?.vendorDetails?.phoneNumber }}
                </p>
                <p>
                  <i class="mdi mdi-phone text-info"></i>
                  Business Rating: {{ order?.vendorDetails?.rating }}
                </p>
                <p>
                  <i class="mdi mdi-phone text-info"></i>
                  Fullfilled Orders:
                  {{ order?.vendorDetails?.transactions.length }}
                </p>
                <p>
                  <i class="mdi mdi-email-outline text-success"></i>
                  {{ order?.vendorDetails?.email }}
                </p>
              </div>
              <div *ngIf="!order?.vendorDetails">
                No vendor Assigned <br />
                <button
                  type="button"
                  class="btn btn-gradient-primary btn-fw"
                  (click)="getVendors()"
                >
                  Assign Vendor
                </button>

                <div class="table-responsive" *ngIf="vendorsList">
                  <br />
                  Vendors Available: {{ vendorsList?.length }}
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Business Name</th>
                        <th>Business Address</th>
                        <th>Contact Details</th>
                        <th>Rating</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let vendor of vendorsList">
                        <td class="py-1">
                          <img
                            [src]="
                              vendor?.avatar?.length > 0
                                ? _common.showImage(vendor?.avatar)
                                : 'assets/images/faces/face1.jpg'
                            "
                            onerror="this.src='assets/images/faces/face1.jpg'"
                            class="center-cropped"
                            [alt]="vendor.screenName"
                          />
                        </td>
                        <td>{{ vendor.fullName }}</td>

                        <td>{{ vendor.location }}</td>
                        <td>{{ vendor.phoneNumber }}</td>
                        <td>{{ vendor.rating }}/10</td>
                        <td class="d-flex justify-content-between flex-nowrap">
                          <button
                            type="button"
                            class="
                              btn btn-gradient-primary btn-rounded btn-icon
                            "
                            (click)="assignVendor(vendor)"
                          >
                            <i class="mdi mdi-gas-station"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                  <app-list-pagination
                    [fullResult]="vendorFullResult"
                    (getNextPage)="getVendors($event)"
                  ></app-list-pagination>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
