<div
  class="table-responsive"
  *ngIf="
    adverts && adverts !== undefined && adverts !== null && adverts.length > 0
  "
>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Type</th>
        <th>Duration</th>
        <th>Budget</th>
        <th>Actual Views</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let advert of adverts">
        <td class="py-1">
          <img
            [src]="
              advert?.offerImage?.length > 0
                ? advert?.offerImage
                : 'assets/images/faces/face1.jpg'
            "
            onerror="this.src='assets/images/faces/face1.jpg'"
            class="center-cropped"
            [alt]="advert?.offerName"
          />
        </td>
        <td>{{ advert?.offerName }}</td>
        <td>
          <label
            class="badge  {{
              advertType == 'Ended'
                ? 'badge-danger'
                : advertType == 'Scheduled'
                ? 'badge-info'
                : 'badge-success'
            }}"
            >{{ advertType }}</label
          >
        </td>
        <td>{{ advert?.duration }}</td>
        <td>{{ advert?.offerAmount }}</td>
        <td>{{ advert?.actualViewCount }}</td>
        <td>
          {{
            (advert?.actualStartDate
              ? advert?.actualStartDate
              : advert?.offerStartDate
            ) | date: "mediumDate"
          }}
        </td>
        <td>
          {{
            (advert?.actualEndDate
              ? advert?.actualEndDate
              : advert?.proposedEndDate
            ) | date: "mediumDate"
          }}
        </td>
        <td class="d-flex justify-content-between flex-nowrap">
          <button
            type="button"
            class="btn btn-gradient-primary btn-rounded btn-icon"
            (click)="goToAdvert(advert.id)"
          >
            <i class="mdi mdi-eye"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
<div
  *ngIf="
    !adverts ||
    adverts === null ||
    adverts === undefined ||
    adverts.length === 0
  "
>
  <h2>No {{ advertType }} Adverts</h2>
</div>
