<div class="table-responsive" *ngIf="orders && orders.length > 0">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Amount(₦)</th>
        <th>Address</th>
        <th>Payment Method</th>
        <th>Status</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td class="py-1">
          {{ order.orderDetails.orderItems[0].options.name }} x
          {{ order.orderDetails.orderItems[0].quantity }}
        </td>
        <td>{{ order.transactionAmount }}</td>
        <td>
          {{ order.shippingDetails.deliveryAddress.street }},
          {{ order.shippingDetails.deliveryAddress.city }}
        </td>
        <td>
          {{
            order.paymentDetails.paymentMethod === "payWithCard"
              ? "Card Payment"
              : "Pay On Delivery"
          }}
        </td>
        <td>
          <label
            class="badge {{
              order.orderDetails.orderStatus === 'delivered'
                ? 'badge-success'
                : 'badge-danger'
            }}"
          >
            {{ order.orderDetails.orderStatus }}
          </label>
        </td>
        <td>{{ order.createdAt | date: "mediumDate" }}</td>
        <td class="d-flex justify-content-between flex-nowrap">
          <button
            type="button"
            class="btn btn-gradient-primary btn-rounded btn-icon"
            (click)="goToOrder(order.transationId)"
          >
            <i class="mdi mdi-eye"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
<div *ngIf="!orders || orders.length === 0">
  <h2>No Unassigned Order</h2>
</div>
