<app-header pageTitle="Offers" icon="mdi-television-guide"></app-header>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Offers</h4>
        <p class="card-description">A list of all created offers</p>
        <ngb-tabset type="pills" class="pills-success">
          <ngb-tab title="Active">
            <ng-template ngbTabContent>
              <app-advert-table
                [adverts]="activeAdverts"
                advertType="Active"
              ></app-advert-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Scheduled">
            <ng-template ngbTabContent>
              <app-advert-table
                [adverts]="scheduledAdverts"
                advertType="Scheduled"
              ></app-advert-table>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Ended">
            <ng-template ngbTabContent>
              <app-advert-table
                [adverts]="endedAdverts"
                advertType="Ended"
              ></app-advert-table>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <app-list-pagination
          [fullResult]="fullResult"
          (getNextPage)="goToSpecificPage($event)"
        ></app-list-pagination>
      </div>
    </div>
  </div>
</div>
