<app-header pageTitle="Users" icon="mdi-account-multiple"></app-header>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">App Users</h4>
        <p class="card-description">List of all app users</p>
        <div class="table-responsive" *ngIf="fullResult">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>User</th>
                <th>Full Name</th>
                <th>Type</th>
                <th>Active Status</th>
                <th>Joined</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="py-1">
                  <img
                    [src]="
                      user?.avatar?.length > 0
                        ? _common.showImage(user?.avatar)
                        : 'assets/images/faces/face1.jpg'
                    "
                    onerror="this.src='assets/images/faces/face1.jpg'"
                    class="center-cropped"
                    [alt]="user.screenName"
                  />
                </td>
                <td>{{ user.fullName }}</td>
                <td>
                  <label
                    class="badge {{
                      user.roles[0] === 'User'
                        ? 'badge-success'
                        : user.roles[0] === 'Admin'
                        ? 'badge-info'
                        : 'badge-warning'
                    }}"
                    >{{ user.roles[0] }}</label
                  >
                </td>
                <td>{{ user.emailVerified ? "Verified" : "Unverified" }}</td>
                <td>{{ user.createdAt | date: "mediumDate" }}</td>
                <td class="d-flex justify-content-between flex-nowrap">
                  <button
                    type="button"
                    class="btn btn-gradient-primary btn-rounded btn-icon"
                    [routerLink]="['/users/user', user._id]"
                  >
                    <i class="mdi mdi-eye"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <app-list-pagination
            [fullResult]="fullResult"
            (getNextPage)="goToSpecificPage($event)"
          ></app-list-pagination>
        </div>
        <div *ngIf="!users">
          <h2>No Users Found</h2>
        </div>
      </div>
    </div>
  </div>
</div>
