<app-header pageTitle="Users" icon="mdi-account-multiple"></app-header>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <div>
            <h4 class="card-title">App Users</h4>
            <p class="card-description">List of all app users</p>
          </div>
          <div class="text-center">
            <button
              type="button"
              class="btn btn-primary btn-sm"
              (click)="openModal(addUserModalContent)"
            >
              Add User<i class="mdi mdi-account-plus ml-1"></i>
            </button>
          </div>
        </div>
        <div class="table-responsive" *ngIf="fullResult">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>User</th>
                <th>Full Name</th>
                <th>Type</th>
                <th>Active Status</th>
                <th>Joined</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="py-1">
                  <img
                    [src]="
                      user?.avatar?.length > 0
                        ? _common.showImage(user?.avatar)
                        : 'assets/images/faces/face1.jpg'
                    "
                    onerror="this.src='assets/images/faces/face1.jpg'"
                    class="center-cropped"
                    [alt]="user.screenName"
                  />
                </td>
                <td>{{ user.fullName }}</td>
                <td>
                  <label
                    class="badge {{
                      user.roles[0] === 'User'
                        ? 'badge-success'
                        : user.roles[0] === 'Admin'
                        ? 'badge-info'
                        : 'badge-warning'
                    }}"
                    >{{ user.roles[0] }}</label
                  >
                </td>
                <td>{{ user.emailVerified ? "Verified" : "Unverified" }}</td>
                <td>{{ user.createdAt | date: "mediumDate" }}</td>
                <td class="d-flex justify-content-between flex-nowrap">
                  <button
                    type="button"
                    class="btn btn-gradient-primary btn-rounded btn-icon"
                    (click)="goToSingleUserPage(user)"
                  >
                    <i class="mdi mdi-eye"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-gradient-danger btn-rounded btn-icon"
                    (click)="
                      openDeleteConfirmationModal(deleteUserConfirm, user._id)
                    "
                  >
                    <i class="mdi mdi-delete"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <app-list-pagination
            [fullResult]="fullResult"
            (getNextPage)="goToSpecificPage($event)"
          ></app-list-pagination>
        </div>
        <div *ngIf="!users">
          <h2>No Users Found</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template class="modal fade" #addUserModalContent let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add A New User</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="pt-3" [formGroup]="signupForm">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="fullName">User Full Name</label>
              <input
                type="text"
                formControlName="fullName"
                name="fullName"
                class="form-control form-control-lg"
                id="fullName"
                placeholder="User Full Name"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="email">User Email Address</label>
              <input
                type="email"
                formControlName="email"
                class="form-control form-control-lg"
                id="email"
                placeholder="Email"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="userType">User Role</label>
              <select
                class="form-control form-control-lg"
                id="userType"
                name="userType"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="userType"
              >
                <option
                  *ngFor="let userType of userTypes"
                  [ngValue]="userType.id"
                >
                  {{ userType.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="password">User Default Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control form-control-lg"
                id="password"
                placeholder="Default Password"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="phoneNumber">User Phone Number</label>
              <input
                type="text"
                formControlName="phoneNumber"
                name="phoneNumber"
                class="form-control form-control-lg"
                id="phoneNumber"
                placeholder="Phone Number"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="address">User Address</label>
              <input
                type="text"
                formControlName="location"
                class="form-control form-control-lg"
                id="location"
                placeholder="Address"
                [required]="userType !== 'User'"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6" *ngIf="userType === 'Delivery Agent'">
            <div class="form-group">
              <label for="vehicleNo">Delivery Agent's Vehicle No</label>
              <input
                type="text"
                formControlName="vehicleNo"
                name="vehicleNo"
                class="form-control form-control-lg"
                id="vehicleNo"
                placeholder="Vehicle Plate Number"
              />
            </div>
          </div>
          <div class="col-lg-6" *ngIf="userType === 'Vendor'">
            <div class="form-group">
              <label for="pricePackage">Vendor's Price Package(₦)</label>
              <input
                type="number"
                formControlName="pricePackage"
                class="form-control form-control-lg"
                id="pricePackage"
                name="pricePackage"
                placeholder="Price Package(per kg)"
              />
            </div>
          </div>
        </div>
        <div class="row" *ngIf="userType === 'Vendor'">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="pricePackage">Vendor's Location Latitude</label>
              <input
                type="number"
                formControlName="latitude"
                name="latitude"
                class="form-control form-control-lg"
                id="latitude"
                placeholder="Latitude"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="pricePackage">Vendor's Location Longitude</label>
              <input
                type="number"
                formControlName="longitude"
                class="form-control form-control-lg"
                id="longitude"
                name="longitude"
                placeholder="Longitude"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="pricePackage">User's Referral ID</label>
          <input
            type="text"
            formControlName="referralId"
            class="form-control form-control-lg"
            id="referralId"
            name="referralId"
            placeholder="Referral Id"
          />
        </div>

        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6"></div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-success"
        (click)="handleCreateUser(modal)"
        [disabled]="!signupForm.valid || checkFormValidity()"
      >
        Create User
      </button>
      <button
        type="button"
        class="btn btn-light"
        data-dismiss="modal"
        (click)="modal.close()"
      >
        Cancel
      </button>
    </div>
  </div>
</ng-template>
<ng-template
  #deleteUserConfirm
  let-modal
  class="modal fade"
  aria-labelledby="deleteUserConfirm"
>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel-3">Delete User</h5>
      <button
        type="button"
        class="close"
        (click)="modal.dismiss()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>All user data would be lost, continue?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleteUser(modal)">
        Delete
      </button>
      <button type="button" class="btn btn-light" (click)="modal.close()">
        Cancel
      </button>
    </div>
  </div>
</ng-template>
