<app-header pageTitle="Users" icon="mdi-account-multiple"></app-header>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">App Users</h4>
        <p class="card-description">List of all app users</p>
        <div class="table-responsive" *ngIf="fullResult">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>User</th>
                <th>Full Name</th>
                <th>Type</th>
                <th>Active Status</th>
                <th>Joined</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="py-1">
                  <img
                    [src]="
                      user?.profilePhoto?.length > 0
                        ? _common.showImage(user?.profilePhoto)
                        : 'assets/images/faces/face1.jpg'
                    "
                    onerror="this.src='assets/images/faces/face1.jpg'"
                    class="center-cropped"
                    [alt]="user.screenName"
                  />
                </td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>
                  <label
                    class="badge {{
                      isAccountCompany(user.accountType)
                        ? 'badge-success'
                        : 'badge-info'
                    }}"
                    >{{
                      isAccountCompany(user.accountType) ? "Company" : "User"
                    }}</label
                  >
                </td>
                <td>{{ user.isActive ? "Active" : "Inactive" }}</td>
                <td>{{ user.registrationDate | date: "mediumDate" }}</td>
                <td class="d-flex justify-content-between flex-nowrap">
                  <button
                    type="button"
                    class="btn btn-gradient-primary btn-rounded btn-icon"
                    [routerLink]="['/users/user', user.id]"
                  >
                    <i class="mdi mdi-eye"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <app-list-pagination
            [fullResult]="fullResult"
            (getNextPage)="goToSpecificPage($event)"
          ></app-list-pagination>
        </div>
        <div *ngIf="!users">
          <h2>No Users Found</h2>
        </div>
      </div>
    </div>
  </div>
</div>
